@model IEnumerable<WebsiteDuLich.Models.headerBanner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/ad_Layout.cshtml";
}

<h2>Banner</h2>
<br />
<table class="table">
    <tr>
        <th style="border: 1px solid #A9A9A9 ; text-align:center">
            Tên banner
        </th>
        <th style="border: 1px solid #A9A9A9 ; text-align:center">
            Hình ảnh
        </th>
        <th style="border: 1px solid #A9A9A9; text-align: center">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="border: 1px solid #A9A9A9; text-align: left">
                @Html.DisplayFor(modelItem => item.Namebanner)
            </td>
            <td style="border: 1px solid #A9A9A9; text-align: center">
                <img src="@item.Imgbanner" style="height:80px" />
            </td>
            <td style="border: 1px solid #A9A9A9; text-align: center">
                @Html.Raw(@Html.ActionLink("[replacetext]", "Edit", new { id = item.Id }).ToHtmlString().Replace("[replacetext]", " <img src=\"/images/images/icons8-edit-property-48.png\" height=\"25\">"))
            </td>
        </tr>
    }

</table>