
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model WebsiteDuLich.Models.DatTour*@
@using WebsiteDuLich.Models;
@model List<DatTour>

<h2 class=""> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>