
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>Trang Chủ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/clienttemplate/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/clienttemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/clienttemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/clienttemplate/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- thong tin -->
    <div class="container-fluid py-1">
        <div class="container pt-1">
            <div class="row">
                <div class="col-lg-6" style="min-height: 350px;">
                    <div class="position-relative h-100 bg-white" style="padding-top:60px">
                        <div class="d-flex mb-4 mb-lg-0">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-2" style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-money-check-alt text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">Thanh Toán</h5>
                                <p class="m-0">Giá cả ưu đãi <br />Thanh toán online</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mb-lg-0" style="padding-top:40px">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-2" style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-award text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">Đặt tour</h5>
                                <p class="m-0">
                                    Nhanh chóng, tiết kiệm thời gian <br />
                                    Tư vấn 24/7
                                </p>
                            </div>
                        </div>
                        <div class="d-flex mb-4 mb-lg-0" style="padding-top:40px">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-globe text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">Tour</h5>
                                <p class="m-0">
                                    Các tour đa dạng<br />
                                    Địa điểm các tour đẹp
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 pt-3 pb-lg-5">
                    <div class="about-text bg-white p-3 p-lg-5 my-lg-5">
                        <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Web Du Lịch</h5>
                        <h3 class="mb-3">Chúng tôi cung cấp các Tour giá tốt phù hợp với túi tiền của bạn</h3>
                        <p>Không cần nhiều lý do để bắt đầu 1 chuyến đi mới. Mọi thứ có khi chỉ bắt đầu từ một bộ phim, một bài hát, một bức ảnh…</p>
                        <a class="btn btn-success" href="@Url.Action("Index", "tour")">
                            Đặt Ngay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- danh sach tour hot -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            @{Html.RenderAction("dstour");}
        </div>
    </div>

    <!-- khuyen mai -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Ưu đãi</h6>
                        <h1 class="text-white"><span class="text-primary">30% OFF</span> Cho các chuyến trăng mật</h1>
                    </div>
                    <p class="text-white">
                        Giảm đến 30% cho các cặp đôi đăng ký tour cho tuần trăng mật.
                    </p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Tặng 1 phần ăn sáng</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>1 phần quà</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>CÓ cơ hội bốc thăm may mắn</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Đăng ký tài khoản ngay</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5">
                            <form>
                                <div class="">
                                    <span>Đăng ký tài khoản để nhận ưu đãi</span>
                                </div>
                                <div>

                                    <a class="btn btn-primary btn-block py-3" href="@Url.Action("Dangky", "User")">
                                        Đăng ký
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tham quan và gioi thieu -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">DỊCH VỤ</h6>
                <h1>Chuyến tham quan & Giới thiệu điểm đến</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Lịch trình</h5>
                        <p class="m-0">Ghi chú chi tiết về hành trình của chuyến đi</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Đặt vé</h5>
                        <p class="m-0">Cung cấp các tour trong nước <br /> Hỗ trợ đặt tour 24/7</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Phòng khách sạn</h5>
                        <p class="m-0">Tư vấn & hỗ trợ các khách sạn gần nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tin tuc -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            @{Html.RenderAction("dstintuc1");}
        </div>
    </div>

    <!-- danh sach tour -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            @{Html.RenderAction("dstour1");}
        </div>
    </div>
    <!--  -->
    <!-- tin tuc moi -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            @{Html.RenderAction("dstintuc");}
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/clienttemplate/lib/easing/easing.min.js"></script>
    <script src="~/clienttemplate/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/clienttemplate/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/clienttemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/clienttemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/clienttemplate/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/clienttemplate/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/clienttemplate/js/main.js"></script>
    <script src="~/Scripts/donvitien.js"></script>
</body>

</html>