@model IEnumerable<WebsiteDuLich.Models.headerBanner>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>

            <td>
                <img src="@item.Imgbanner" style="height:250px ; width: 100%  " />
            </td>

        </tr>
    }
</table>
