@model IEnumerable<WebsiteDuLich.Models.GioiThieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid py-5">
    <div class="container py-5">
        <h2 class="text-center text-primary">GIỚI THIỆU</h2>
        <br />
        <div class="row">
            <div class="col-lg-3 mt-5 mt-lg-0">

                <!-- Danh muc List -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">DANH MỤC</h4>
                    <div class="bg-white" style="padding: 30px;">
                        <ul class="list-inline m-0">
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="~/Home">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Trang chủ
                                </a>

                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="~/tour">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Tour du lịch
                                </a>

                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="~/tinTuc">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Tin Tức
                                </a>

                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="~/gioiThieu">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>Giới Thiệu
                                </a>

                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="~/lienHe/Create">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>Liên Hệ
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="row pb-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 mb-4 pb-2">
                            <hr />
                            <div class="blog-item" style="padding:15px; text-align:justify">
                                @Html.Raw(item.NoiDunggt)
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
    </div>
</div>